@import "@/style/variabiles.scss";

h2,
a {
  color: $text-white;
}

h2,
button {
  background-color: $azure-color;
}

h2 {
  padding: 4px 11px;
  position: absolute;
  top: -2.5%;
  left: 11.5%;
}

.card-row {
  flex-wrap: wrap;
  padding: 20px 0;
  color: $text-white;

  .card-box {
    width: calc(100% / 6 - 60px);
    margin: 20px 30px;

    .single-card {
      height: 150px;
      overflow: hidden;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }
  }
}

button {
  padding: 7px 50px;
  margin-bottom: 20px;

  &:hover a {
    color: $text-secondary-grey;
  }
}
