@import "@/style/variabiles.scss";

header {
  height: 80px;
  margin-top: 10px;

  img {
    width: 60%;
  }

  ul {
    height: 100%;
    li {
      padding: 0 10px;
      font-size: 12px;
      height: 100%;
      border-bottom: 3px solid transparent;
      cursor: pointer;

      &:hover {
        border-bottom: 3px solid $azure-color;
      }

      a {
        color: $dark-color;
        display: inline-block;
      }
    }
  }
}
