header {
  height: 80px;
  margin-top: 10px;

  img {
    width: 70%;
  }

  ul {
    li {
      padding: 12px 10px;
      font-size: 12px;
      border-bottom: 3px solid transparent;
      &:hover {
        color: #5ea8f2;
        border-bottom: 3px solid #5ea8f2;
        // ghost div todo
      }
    }
  }
}
