.merch-container {
  background-color: #5ea8f2;

  ul {
    width: 1200px;
    margin: 0 auto;

    li {
      padding: 20px 0;
      font-size: 13px;
      width: calc(100% / 5);

      > img {
        width: 50px;
      }

      > div {
        padding: 0 12px;
      }

      #visa-logo {
        width: 50px;
      }

      a {
        color: #fff;
      }
    }
  }
}
